<!DOCTYPE html>
<html>
<include file="Public/head"/>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">{$title}</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">二维码编号</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="id" value="{:I('get.id')}">
                                <input type="text" name="mc_code" value="{$row.mc_code}" placeholder="请输入二维码编号"
                                       class="layui-input w300">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">洗车机编号</label>
                            <div class="layui-input-block">
                                <input type="text" name="mc_id" value="{$row.mc_id}" placeholder="请输入24位洗车机编码"
                                       class="layui-input w300" required>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">水枪价格</label>
                            <div class="layui-input-block">
                                <input type="text" name="washing_money" value="{$row.washing_money}" placeholder="请输入水枪价格"
                                       class="layui-input w300" required>

                            </div>


                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">泡沫价格</label>
                            <div class="layui-input-block">
                                <input type="text" name="foam_money" value="{$row.foam_money}" 元/秒placeholder="请输入泡沫价格"
                                       class="layui-input w300" required>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">吸尘器价格</label>
                            <div class="layui-input-block">
                                <input type="text" name="cleaner_money" value="{$row.cleaner_money}" 元/秒placeholder="请输入吸尘器价格"
                                       class="layui-input w300" required>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">店铺名称</label>
                            <div class="layui-input-block">
                                <select name="p_id" class="layui-input w300">
                                    <volist name="shop_list" id="item">
                                        <if condition="$item['id'] eq $row['p_id']">
                                            <option value="{$item.id}" selected>{$item.shop_name}</option>
                                            <else/>
                                            <option value="{$item.id}">{$item.shop_name}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">运行状态</label>
                            <div class="layui-input-block">
                                <label class="layui-choose" for="status_1">
                                    <input type="radio" id="status_1" name="status" value="1" class="layui-input" required <if condition="$row['status'] eq 1">checked <elseif condition="empty($row['status'])"/>checked</if>>
                                    正常
                                </label>
                                <label class="layui-choose" for="status_2">
                                    <input type="radio" id="status_2" name="status" value="2" class="layui-input"required <if condition="$row['status'] eq 2"> checked</if>>
                                    故障
                                </label>
                                <label class="layui-choose" for="status_3">
                                    <input type="radio" id="status_3" name="status" value="3" class="layui-input"required <if condition="$row['status'] eq 3"> checked</if>>
                                    报警
                                </label>
                                <label class="layui-choose" for="status_4">
                                    <input type="radio" id="status_4" name="status" value="4" class="layui-input"required <if condition="$row['status'] eq 4"> checked</if>>
                                    不在线
                                </label>
                                <label class="layui-choose" for="status_5">
                                    <input type="radio" id="status_5" name="status" value="5" class="layui-input"required <if condition="$row['status'] eq 5"> checked</if>>
                                    泡沫液位不足
                                </label>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">使用状态</label>
                            <div class="layui-input-block">
                                <label class="layui-choose" for="type_1">
                                    <input type="radio" id="type_1" name="type" value="1" class="layui-input" required <if condition="$row['type'] eq 1">checked <elseif condition="empty($row['type'])"/>checked</if>>
                                    空闲中
                                </label>
                                <label class="layui-choose" for="type_2">
                                    <input type="radio" id="type_2" name="type" value="2" class="layui-input"required <if condition="$row['type'] eq 2"> checked</if>>
                                    使用中
                                </label>
                                <label class="layui-choose" for="type_3">
                                    <input type="radio" id="type_3" name="type" value="3" class="layui-input"required <if condition="$row['type'] eq 3"> checked</if>>
                                    预定中
                                </label>
                                <label class="layui-choose" for="type_4">
                                    <input type="radio" id="type_4" name="type" value="4" class="layui-input"required <if condition="$row['type'] eq 4"> checked</if>>
                                    故障中
                                </label>

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">加盟商</label>
                            <div class="layui-input-block">
                                <select name="agent_id" class="layui-input w300">
                                    <volist name="list" id="item">
                                        <if condition="$item['id'] eq $row['agent_id']">
                                            <option value="{$item.id}" selected>{$item.nickname}</option>
                                            <else/>
                                            <option value="{$item.id}">{$item.nickname}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">合作方</label>
                            <div class="layui-input-block">
                                <select name="partner_id" class="layui-input w300">
                                    <volist name="partner" id="items">
                                        <if condition="$items['id'] eq $row['partner_id']">
                                            <!--<option value="{items.id}" selected>{items.nickname}</option>-->
                                            <else/>
                                            <option value="{$items.id}">{$items.nickname}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">经度</label>
                            <div class="layui-input-block">
                                <input type="text" name="lon" value="{$row.lon}" placeholder="000.000000000000"
                                       class="layui-input w300">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">纬度</label>
                            <div class="layui-input-block">
                                <input type="text" name="lat" value="{$row.lat}" placeholder="000.000000000000"
                                       class="layui-input w300">
                            </div>
                        </div>
                        <div class="layui-form-province">
                            <label class="layui-form-label">所在地区</label>
                            <div class="layui-input-block">
                                <select name="province" class="layui-input w300" id="province">
                                    <option value="0">请选择省份</option>
                                    <volist name="province" id="province_item">
                                        <option value="{$province_item.id}"
                                        <if condition="$row['province'] eq $province_item['id']"> selected </if>
                                        >{$province_item.region_name}</option>
                                    </volist>
                                </select>
                                <select name="city" class="layui-input w300" id="city">
                                    <empty name="city">
                                        <option value="0">请选择城市</option>
                                    <else />
                                        <volist name="city" id="city_item">
                                            <option value="{$city_item.id}"
                                            <if condition="$row['city'] eq $city_item['id']"> selected </if>
                                            >{$city_item.region_name}</option>
                                        </volist>
                                    </empty>
                                </select>
                                <select name="area" class="layui-input w300" id="area">
                                    <empty name="area">
                                        <option value="0">请选择区、县</option>
                                    <else />
                                        <volist name="area" id="area_item">
                                            <option value="{$area_item.id}"
                                            <if condition="$row['area'] eq $area_item['id']"> selected </if>
                                            >{$area_item.region_name}</option>
                                        </volist>
                                    </empty>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">详细地址</label>
                            <div class="layui-input-block">
                                <textarea name="address" id="address" style="width:59.35%; height:50px; "
                                          placeholder="请输入详细地址" class="layui-input w300">{$row.address}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" onclick="goback()">返回</button>
                                <button class="layui-btn" onclick="submit()">确认修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // 上传文件初始化
    // new UploadFile({
    //     element: '#uploadBtn2',
    //     // 多文件上传-true 单文件上传-false
    //     files: true,
    //     // 展示图片
    //     showFile: false,
    //     // input框的name
    //     fieldName: 'washcar_pic'
    // });

    // 提交信息
    function submit() {
        // 检查参数
        var data = checkParam();
        var id = "{$row['id']}";
        if(id){
            url = '';
            data.id = id
        }else{
            url = '{:U("CarWasher/editCarWasher")}'
        }
        // console.log(data);
        if(!data) return false;
        doPost(url, data, function(res) {
            showMsg(res.code, res.message, function() {
                if(res.code == 1) {
                    goback();
                }
            });
        });
    }
    // 时间选择初始化
    laydate.render({
        elem: '#test1' //指定元素
    });

    $(function () {
        $('#province').change(function () {
            $('#city option[value!=""]').remove();
            $('#area option[value!=""]').remove();
            var province = $(this).val();
            $.ajax({
                url: "{:U('CarWasher/ajaxGetRegion')}",
                type: 'post',
                data: {id: province},
                success: function (data) {
                    var html = '<option value="">请选择城市</option>';
                    for (var i in data) {
                        html += '<option value="' + data[i].id + '">' + data[i].region_name + '</option>';
                    }
                    $('#city').html(html);
                }
            })
        });
        $('#city').change(function () {
            $('#area option[value!=""]').remove();
            var city = $(this).val();
            $.ajax({
                url: "{:U('CarWasher/ajaxGetRegion')}",
                type: 'post',
                data: {id: city},
                success: function (data) {
                    var html = '<option value="">请选择区、县</option>';
                    for (var i in data) {
                        html += '<option value="' + data[i].id + '">' + data[i].region_name + '</option>';
                    }
                    $('#area').html(html);
                }
            })
        })
    });
    //编辑器
    $(document).ready(function () {
        KindEditor.ready(function (K) {
            window.editor = K.create('#content', {
                cssData: 'body {font-size: 15px; font-color:#000}',
                items: [
                    'source', '|',
                    'undo', 'redo', '|',
                    'indent', 'outdent', '|',
                    'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'clearhtml', '|',
                    'formatblock', 'fontname', 'fontsize', '|',
                    'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough', 'lineheight', '|',
                    'image', 'multiimage', '|',
                    'link', 'baidumap', 'fullscreen'
                ],
                afterBlur: function () {
                    this.sync();
                }
            });
        });
    });
    /*  /!*
          描述：上传图片附带删除 再次地方可以加上一个ajax进行提交到后台进行删除
       * *!/
      function removeImg(r) {
          $(r).parent().remove();
      }
      /!*
          描述：上传图片附带放大查看处理
       * *!/
      function lookBigImg(b) {
          $(".shadeImg").fadeIn(500);
          $(".showImg").attr("src", $(b).attr("src"))
      }
      /!*
          描述：关闭弹出层
       * *!/
      function closeShade() {
          $(".shade").fadeOut(500);
      }
      /!*
          描述：关闭弹出层
       * *!/
      function closeShadeImg() {
          $(".shadeImg").fadeOut(500);
      }*/
</script>
</html>
<!--<div class="layui-form-item">-->
<!--<label class="layui-form-label">洗车机图片</label>-->
<!--<div class="layui-input-block">-->
<!--<div class="layui-input-inline">-->
<!--<button type="button" class="layui-btn" id="uploadBtn2"><i class="layui-icon"></i>选择图片-->
<!--</button>-->
<!--</div>-->
<!--<div class="layui-input-inline" id="filename"></div>-->
<!--<if condition="$row['washcar_pic']  neq 0">-->
<!--<div class="layui-input-block img-show">-->
<!--<div class="img-show-item" id="Upload_washcar_pic_1_pre">-->
<!--<img src="{$row.washcar_pic}">-->
<!--<i class="layui-icon layui-icon-close close"-->
<!--onclick="delFile('Upload_washcar_pic_1', '{$row.washcar_pic}');"></i>-->
<!--</div>-->
<!--</div>-->
<!--</if>-->
<!--</div>-->
<!--</div>-->
<!--<div class="layui-form-item">-->
<!--<label class="layui-form-label">排序</label>-->
<!--<div class="layui-input-block">-->
<!--<input type="number" name="sort" value="{$row.sort}" placeholder="0" class="layui-input w300"-->
<!--required>-->
<!--</div>-->
<!--</div>-->
<!--<div class="layui-form-item">-->
<!--<label class="layui-form-label">加盟商</label>-->
<!--<div class="layui-input-block">-->
<!--<select name="agent_id" class="layui-input w300">-->
<!--<option value="">请选择加盟商</option>-->
<!--<volist name="list" id="item">-->
<!--<option value="{$item.id}">{$item.nickname}</option>-->
<!--</volist>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<label class="layui-form-label">所在地区</label>-->
<!--<div class="layui-input-block">-->
<!--<select name="province" class="layui-input w300" id="province">-->
<!--<option value="">&#45;&#45;请选择省份&#45;&#45;</option>-->
<!--<volist name="province" id="itme">-->
<!--<option value="{$itme.id}">{$itme.region_name}</option>-->
<!--</volist>-->
<!--</select>-->
<!--<select name="city" class="layui-input w300" id="city">-->
<!--<option value="">&#45;&#45;请选择城市&#45;&#45;</option>-->
<!--</select>-->
<!--<select name="area" class="layui-input w300" id="area">-->
<!--<option value="">&#45;&#45;请选择区、县&#45;&#45;</option>-->
<!--</select>-->
<!--</div>-->