<!DOCTYPE html>
<html>
<include file="Public/head"/>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--菜单名称-->
                <div class="layui-card-header">{$title}</div>
                <div class="layui-card-body">
                    <!--顶部按钮-->
                    <div class="mab10">
                        <input type="hidden" id="url" value="{$url}">
                        <form class="mab10 mal20 dinline" id="myform" action="{:U('Order/index')}" method="GET">
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" placeholder="请输入订单编号" name="orderid"
                                       value="{$_REQUEST['orderid']}">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" placeholder="请输入流水号" name="trade_no"
                                       value="{$_REQUEST['trade_no']}">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" placeholder="请输入用户账号" name="account"
                                       value="{$_REQUEST['account']}">
                            </div>
                            <div class="layui-input-inline layui-form">
                                <select name="status" class="layui-input" style="width: 150px">
                                    <option value="">支付状态</option>
                                    <option value="1"
                                    <if condition="$_REQUEST['status'] eq 1">selected=true</if>
                                    >待支付</option>
                                    <option value="2"
                                    <if condition="$_REQUEST['status'] eq 2">selected=true</if>
                                    >已完成</option>
                                </select>
                            </div>
                            <div class="layui-input-inline layui-form">
                                <select name="pay_type" class="layui-input" style="width: 150px">
                                    <option value="">支付方式</option>
                                    <option value="1"
                                    <if condition="$_REQUEST['pay_type'] eq 1">selected=true</if>
                                    >微信</option>
                                    <option value="2"
                                    <if condition="$_REQUEST['pay_type'] eq 2">selected=true</if>
                                    >支付宝</option>
                                    <option value="3"
                                    <if condition="$_REQUEST['pay_type'] eq 3">selected=true</if>
                                    >余额</option>
                                </select>
                            </div>
                            <div class="layui-input-inline layui-form">
                                <select name="o_type" class="layui-input" style="width: 150px">
                                    <option value="">订单类型</option>
                                    <option value="1"
                                    <if condition="$_REQUEST['o_type'] eq 1">selected=true</if>
                                    >洗车订单</option>
                                    <option value="2"
                                    <if condition="$_REQUEST['o_type'] eq 2">selected=true</if>
                                    >小鲸卡购买</option>
                                    <option value="3"
                                    <if condition="$_REQUEST['o_type'] eq 3">selected=true</if>
                                    >余额充值</option>
                                </select>
                            </div>
                            <div class="layui-input-inline layui-form">
                                <select name="pay_type" class="layui-input" style="width: 150px">
                                    <option value="">支付方式</option>
                                    <option value="1"
                                    <if condition="$_REQUEST['pay_type'] eq 1">selected=true</if>
                                    >微信</option>
                                    <option value="2"
                                    <if condition="$_REQUEST['pay_type'] eq 2">selected=true</if>
                                    >支付宝</option>
                                </select>
                            </div>
                            <button class="layui-btn" type="submit">搜索</button>
                            <a href="{:U('Order/index')}" class="layui-btn layui-btn-primary">重置</a>
                        </form>
                        <script>
                            $(function () {
                                $("#button").click(function () {
                                    var newUrl = "{:U('Order/exportOrder')}";    //设置新提交地址
                                    $("#myform").attr('action', newUrl);    //通过jquery为action属性赋值
                                    $("#myform").submit();    //提交ID为myform的表单
                                })
                            })
                        </script>
                    </div>
                    <!--列表-->
                    <!--<table class="layui-table" cellspacing="0" cellpadding="0" border="0">-->
                    <!--<thead>-->
                    <!--<tr>-->
                    <!--<th width="20"><input type="checkbox" id="checkAllId" class="layui-input"></th>-->
                    <!--<th>-->
                    <!--<div class="">-->
                    <!--<span>ID</span>-->
                    <!--<span id="id-sort" lay-sort="">-->
                    <!--<i class="" value="id" sort="asc"></i>-->
                    <!--<i class="" value="id" sort="desc"></i>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</th>-->
                    <table class="layui-table" lay-even lay-skin="line" lay-size="">
                        <colgroup>
                            <col width="30">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <th>ID</th>
                        <th>订单编号</th>
                        <th>洗车机编号</th>
                        <th>预付金额</th>
                        <th>实际金额</th>
                        <th>用户账号</th>
                        <th>订单类型</th>
                        <th>订单状态</th>
                        <th>支付方式</th>
                        <th>下单时间</th>
                        <th>发票记录</th>
                        <th>操作</th>
                        <!--</tr>-->
                        </thead>
                        <tbody>
                        <empty name="list">
                            <tr>
                                <td colspan="12" style="text-align: center;">暂无数据，请重选筛选条件</td>
                            </tr>
                        </empty>
                        <volist name="list" id="item">
                            <tr>
                                <!--<td><input type="checkbox" name="ids" value="{$item.id}" class="layui-input"></td>-->
                                <td>{$item.id}</td>
                                <td>{$item.orderid}</td>
                                <td>{$item.orderid}</td>

                                <td>{$item.money}(元)</td>
                                <td>
                                    <switch name="item.status">
                                        <case value="1"><span style="color: red;">待支付</span></case>
                                        <case value="2">{$item.pay_money}(元)</case>
                                        <default/>
                                    </switch>
                                </td>
                                <td>{$item.account}</td>
                                <td>
                                    <switch name="item.o_type">
                                        <case value="1">洗车订单</case>
                                        <case value="2">小鲸卡购买</case>
                                        <case value="3">余额充值</case>
                                        <default/>
                                    </switch>
                                </td>
                                <td>
                                    <switch name="item.status">
                                        <case value="1"><span style="color: red;">待支付</span></case>
                                        <case value="2"><span style="color: green;">已完成</span></case>
                                        <default/>
                                    </switch>
                                </td>
                                <td>
                                    <switch name="item.status">
                                        <case value="1"><span style="color: red;">待支付</span></case>
                                        <case value="2">
                                            <switch name="item.pay_type">
                                                <case value="1"><span style="color: green;">微信</span></case>
                                                <case value="2"><span style="color: deepskyblue;">支付宝</span></case>
                                                <case value="3"><span style="color: black;">余额</span></case>
                                                <default/>
                                            </switch>
                                        </case>
                                        <default/>
                                    </switch>
                                </td>
                                <td>
                                    <switch name="item.status">
                                        <case value="1"><span style="color: red;">待支付</span></case>
                                        <case value="2">{$item['create_time']|date='Y-m-d H:i',###}</case>
                                        <default/>
                                    </switch>
                                </td>
                                <td>
                                    <switch name="item.invoice">
                                        <case value="0"><span style="color: orange;">未申请</span></case>
                                        <case value="1"><span style="color: green;">已申请</span></case>
                                        <default/>
                                    </switch>
                                </td>
                                <td>
                                    <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-normal"
                                            onclick="jumpUrl('{:U('Order/infoOrder', array('id'=>$item['id'], 'system'=>0))}')">
                                        查看
                                    </button>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <!--分页-->
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 排序方法
    var sort_order = "{$_GET['sort_order']}"
    if (sort_order) {
        var sort_arr = sort_order.split("-");
        $('#' + sort_arr[0] + '-sort').attr('lay-sort', sort_arr[1])
    }
    //排序
    $('.layui-edge').on('click', function () {
        var url = $('#url').val();
        var sort_type = $(this).attr('value');
        var sort_key = $(this).attr('sort');
        // 分为有其他搜索参数类型和无搜索参数类型 拼接URL了地址 这里我以有结束时间为例。
        // 有搜索参数
        if (url.indexOf('&end_time') == -1) {
            if (url.indexOf('/sort_order/') == -1) {
                url = url + '/sort_order/' + sort_type + '-' + sort_key;
            } else {
                url = url.replace('/sort_order/' + sort_order, '/sort_order/' + sort_type + '-' + sort_key);
            }
        } else {
            // 没有搜索参数
            if (url.indexOf('&sort_order=') == -1) {
                url = url + '&sort_order=' + sort_type + '-' + sort_key;
            } else {
                url = url.replace('&sort_order=' + sort_order, '&sort_order=' + sort_type + '-' + sort_key);
            }
        }
        window.location.href = url;
    });
    // 时间选择初始化
    laydate.render({
        elem: '#test1' //指定元素
    });
    // 时间选择初始化
    laydate.render({
        elem: '#test2' //指定元素
    });
</script>
</body>
</html>