<!DOCTYPE html>
<html>
<include file="Public/head"/>
<style>
    .layui-icon-alipay {
        display: inline-block;
        width: 23px;
        height: 23px;
        background: url("__PUBLIC__/zfb.ico") no-repeat;
        background-size: 100% 100%;
        position: relative;
        top: 5px;
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--菜单名称-->
                <div class="layui-card-header">{$title}</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">订单编号</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.orderid}</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">流水号</label>
                            <div class="layui-input-block">
                                <notempty name="row.trade_no">
                                    <blockquote class="layui-elem-quote">{$row.trade_no}</blockquote>
                                    <else/>
                                    <blockquote class="layui-elem-quote layui-quote-nm">待支付</blockquote>
                                </notempty>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户账号</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$account.account}</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">订单类型</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.title}</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">预付金额</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.money}(元)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">实付金额</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.pay_money}(元)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">清水使用时长</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.washing}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">清水开始使用时间</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.washing_start_time}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">清水结束使用时间</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.washing_end_time}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">泡沫使用时长</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.foam}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">泡沫开始使用时间</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.foam_start_time}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">泡沫结束使用时间</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.foam_end_time}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">吸尘器使用时长</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.cleaner}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">吸尘器开始使用时间</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.cleaner_start_time}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">吸尘器结束使用时间</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.cleaner_end_time}(秒)</blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">创建时间</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.create_time|date='Y-m-d H:i:s',###}
                                </blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">结束时间</label>
                            <div class="layui-input-block">
                                <blockquote class="layui-elem-quote">{$row.update_time|date='Y-m-d H:i:s',###}
                                </blockquote>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">付款时间</label>
                            <div class="layui-input-block">
                                <notempty name="row.pay_time">
                                    <blockquote class="layui-elem-quote">{$row.pay_time|date='Y-m-d H:i:s',###}
                                    </blockquote>
                                    <else/>
                                    <blockquote class="layui-elem-quote layui-quote-nm">待支付</blockquote>
                                </notempty>
                            </div>
                        </div>
                        <hr class="layui-bg-green">
                        <div class="layui-form-item">
                            <label class="layui-form-label">订单状态：</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <label class="layui-choose" for="radio_1">
                                        <input type="radio" id="radio_1" name="status" value="1" checked
                                               class="layui-input" disabled required
                                        <if condition="$row['status'] eq 1">checked
                                            <elseif condition="empty($row['status'])"/>
                                            checked
                                        </if>
                                        ><span style="color: red;">待支付</span>
                                    </label>
                                    <label class="layui-choose" for="radio_2">
                                        <input type="radio" id="radio_2" name="status" value="2" class="layui-input"
                                               disabled required
                                        <if condition="$row['status'] eq 2"> checked</if>
                                        ><span style="color: green;">已完成</span>
                                    </label>
                                </div>
                                <label class="layui-form-label">发票状态：</label>
                                <div class="layui-input-inline">
                                    <label class="layui-choose" for="radio">
                                        <input type="radio" id="radio" name="invoice" value="0" checked
                                               class="layui-input" disabled required
                                        <if condition="$row['invoice'] eq 0">checked
                                            <elseif condition="empty($row['invoice'])"/>
                                            checked
                                        </if>
                                        ><span style="color: orange;">未开票</span>
                                    </label>
                                    <label class="layui-choose" for="radio.">
                                        <input type="radio" id="radio." name="invoice" value="1" class="layui-input"
                                               disabled required
                                        <if condition="$row['invoice'] eq 1">checked</if>
                                        ><span style="color: green;">已开票</span>
                                    </label>
                                </div>
                                <label class="layui-form-label">支付方式：</label>
                                <div class="layui-input-inline">
                                    <label class="layui-choose" for="radio00">
                                        <input type="radio" id="radio00" name="pay_type" value="0" checked
                                               class="layui-input" disabled required
                                        <if condition="$row['pay_type'] eq 0">checked
                                            <elseif condition="empty($row['pay_type'])"/>
                                            checked
                                        </if>
                                        >
                                        <span style="color: red;">待支付</span>
                                    </label>
                                    <label class="layui-choose" for="radio11">
                                        <input type="radio" id="radio11" name="pay_type" value="1" class="layui-input"
                                               disabled required
                                        <if condition="$row['pay_type'] eq 1"> checked</if>
                                        >
                                        <i class="layui-icon layui-icon-login-wechat"
                                           style="font-size: 20px; color: green;"></i>
                                        <span style="color: green;">微信</span>
                                    </label>
                                    <label class="layui-choose" for="radio22">
                                        <input type="radio" id="radio22" name="pay_type" value="2" class="layui-input"
                                               disabled required
                                        <if condition="$row['pay_type'] eq 2"> checked</if>
                                        >
                                        <span class="layui-icon-alipay"></span>
                                        <span style="color:deepskyblue;">支付宝</span>
                                    </label>
                                    <label class="layui-choose" for="radio33">
                                        <input type="radio" id="radio33" name="pay_type" value="3" class="layui-input"
                                               disabled required
                                        <if condition="$row['pay_type'] eq 3"> checked</if>
                                        >
                                        <i class="layui-icon layui-icon-rmb" style="font-size: 20px; color: black;"></i>
                                        <span style="color: black;">余额</span>
                                    </label>
                                </div>

                                    <div class="layui-input-block">
                                       <button style="margin-left: 460px;" class="layui-btn" onclick="goback()"> <span style="margin-right: 40px;margin-left: 40px;">返回</span></button>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>