<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__INDCSS__/public.css"/>
    <link rel="stylesheet" type="text/css" href="__INDCSS__/index.css"/>
    <link rel="stylesheet" type="text/css" href="__INDCSS__/jquery.fullpage.css"/>
    <script type="text/javascript" src="__INDJS__/jquery.js"></script>
    <script type="text/javascript" src="__INDJS__/public.js"></script>
    <script type="text/javascript" src="__INDJS__/jquery.fullpage.extensions.min.js"></script>
    <title>小鲸洗车</title>
</head>
<body>
<div class="index-head">
    <div class="content ovhid">
        <img src="__IND__/logo.png" class="index-head-img1 fl"/>
        <a href="#" class="fr"><img src="__IND__/android.png" class="index-head-img2 fr mal25"/></a>
        <a href="#" class="fr"><img src="__IND__/iphone.png" class="index-head-img3 fr"/></a>
        <!--<a href="http://elife.txunda.com/index.php/index/company/" class="fr" style="color: #f0f0f0; margin-top: 40px; margin-right: 30px;">代理商申请入口</a>-->
    </div>
</div>
<div class="footer">
    Copyright &copy; {:date('Y')}-{:date('Y')+1}&nbsp;&nbsp;北京小鲸一诺科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" style="color:palevioletred">京ICP备19000455号-1</a>
</div>
<div id="fullpage">
    <div class="section">
        <div class="index-bg1 index-bg">
            <div class="index-cont content ovhid">
                <div class="index-poster1">
                    <img src="__IND__/jieshao.png" class="index-poster"/>
                </div>
                <div class="index-cont-fr">
                    <div class="index-cont-fr1">
                        <img src="__IND__/font.png" >
                        <div class="ovhid mat75 index-box1">
                            <div class="index-box ff">
                                <div class="bg-f borast10 lh50 bg-f">
                                    <p class="fc-gray borast10 fs16">iOS 版</p>
                                    <div class="index-code">
                                        <img src="__IND__/code_ios.png"/>
                                    </div>
                                    <p class="fc-gray borast10 fs13">手机扫描二维码下载</p>
                                </div>
                                <div class="index-clk">
                                    <a href="#">立即下载</a>
                                </div>
                            </div>
                            <div class="index-box rr">
                                <div class="bg-f borast10 lh50 bg-f">
                                    <p class="fc-gray borast10 fs16">Android 版</p>
                                    <div class="index-code">
                                        <img src="__IND__/code_android.png"/>
                                    </div>
                                    <p class="fc-gray borast10 fs13">手机扫描二维码下载</p>
                                </div>
                                <div class="index-clk">
                                    <a href="#">立即下载</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>

