<!DOCTYPE html>
<html>
<include file="Public/head" />
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--菜单名称-->
                <div class="layui-card-header">{$title}</div>
                <div class="layui-card-body">
                    <!--如果不是必填值 不需要加 required 属性-->
                    <!--上传图片-->
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">上传发票</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <button type="button" class="layui-btn" id="uploadBtn2"><i class="layui-icon"></i>上传文件</button>
                                </div>
                                <div class="layui-input-inline" id="filename"></div>
                                <if condition="$row['picture_id']  neq 152">
                                    <div class="layui-input-block img-show">
                                        <div class="img-show-item" id="Upload_cover_1_pre">
                                            <img src="{$row.covers}">
                                            <i class="layui-icon layui-icon-close close" onclick="delFile('Upload_cover_1', '{$row.picture_id}');"></i>
                                            <input name="picture_id" value='{$row.picture_id}' class="layui-input" type="hidden">
                                        </div>
                                    </div>
                                </if>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">订单编号</label>
                            <div class="layui-input-block">
                                <input type="text" name="input" value="{$row.o_id}" placeholder="输入框" class="layui-input w300" required readonly="readonly">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户账号</label>
                            <div class="layui-input-block">
                                <input type="text" name="input" value="{$row.account}" placeholder="用户账号" class="layui-input w300" required readonly="readonly">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-block">
                                <input type="text" name="input" value="{$row.email}" placeholder="邮箱" class="layui-input w300" required readonly="readonly">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="input" value="{$row.money}" placeholder="邮箱" class="layui-input w300" required readonly="readonly">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">单选框</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <if condition="$row['status']  eq 3">
                                        <label class="layui-choose" for="radio_1">
                                            <input type="radio" id="radio_1" name="status" value=4 class="layui-input" required>
                                            待开票
                                        </label>
                                    </if>
                                    <if condition="$row['status']  eq 4">
                                        <label class="layui-choose" for="radio_1">
                                                <!--<input type="radio" id="radio_2" name="status" value=3 class="layui-input" required>-->
                                            <span>已开票</span>
                                            <input name="status" value=4 class="layui-input" type="hidden">
                                        </label>
                                        </label>
                                    </if>

                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" onclick="goback()">返回</button>
                                <button class="layui-btn" onclick="submit()">确认保存</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 上传文件初始化
    new UploadFile({
        element: '#uploadBtn2',
        // 多文件上传-true 单文件上传-false
        files: false,
        // 展示图片
//        showFile: '#filename',
        showFile: 'true',
        // input框的name
        fieldName: 'picture_id'
    });

    // 提交信息
    function submit() {
        // 检查参数
        var data = checkParam();
       var url="";
        var id = "{$row['id']}";
        if(id){
            url = '';
            data.id = id
        }else{
            url = '{:U("Invoice/index")}'
        }
        if(!data) return false;
        doPost(url, data, function(res) {
            showMsg(res.code, res.message, function() {
                if(res.code == 1) {

                }
            });
        });
    }
    // 时间选择初始化
    laydate.render({
        elem: '#test1' //指定元素
    });

    //编辑器初始化
    $(document).ready(function(){
        KindEditor.ready(function(K){
            window.editor = K.create('#content',{
                cssData: 'body {font-size: 15px; font-color:#000}',
                items:[
                    'source', '|',
                    'undo', 'redo', '|',
                    'indent', 'outdent', '|',
                    'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'clearhtml', '|',
                    'formatblock', 'fontname', 'fontsize', '|',
                    'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough','lineheight', '|',
                    'image', 'multiimage', '|',
                    'link', 'baidumap','fullscreen'
                ],
                afterBlur:function(){this.sync();}
            });
        });
    });
</script>
</body>
</html>