<!DOCTYPE html>
<html>
<include file="Public/head" />
<body>
<!--
<script charset="utf-8" src="__PUBLIC__/Plugins/kindeditor/kindeditor-min.js"></script>--><!--
<script charset="utf-8" src="__PUBLIC__/Plugins/kindeditor/lang/zh_CN.js"></script>-->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">{$title}</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">文章标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" value="{$row.title}" placeholder="输入文章标题" class="layui-input w300" required>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">文章分类</label>
                            <div class="layui-input-block">
                                <select name="cate_id" class="layui-input w300" id="ctrlValue">
                                    <if condition="$row['cate_id']  neq 0">
                                        <option value="{$row.cates.id}"  >{$row.cates.name}</option>
                                    <else/>
                                        <option value="">选择上级菜单</option>
                                    </if>
                                    <volist name="cate" id="item">
                                        <option value="{$item.id}"  >{$item.name}</option>
                                        <volist name="item.s_cate" id="son">
                                            <option value="{$son.id}"  >  ----   {$son.name}</option>
                                        </volist>
                                    </volist>
                                </select>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">APP显示类</label>
                                <div class="layui-input-block">
                                    <label class="layui-choose" for="type_1">
                                        <input type="radio" id="type_1" name="type" value="1" class="layui-input" required <if condition="$row['type'] eq 1">checked <elseif condition="empty($row['type'])"/>checked</if>>
                                        发票规则
                                    </label>
                                    <label class="layui-choose" for="type_2">
                                        <input type="radio" id="type_2" name="type" value="2" class="layui-input"required <if condition="$row['type'] eq 2"> checked</if>>
                                        购卡须知
                                    </label>
                                    <label class="layui-choose" for="type_3">
                                        <input type="radio" id="type_3" name="type" value="3" class="layui-input"required <if condition="$row['type'] eq 3"> checked</if>>
                                        用户指南
                                    </label>
                                    <label class="layui-choose" for="type_4">
                                        <input type="radio" id="type_4" name="type" value="4" class="layui-input"required <if condition="$row['type'] eq 4"> checked</if>>
                                        奖励规则
                                    </label>
                                    <label class="layui-choose" for="type_5">
                                        <input type="radio" id="type_5" name="type" value="5" class="layui-input"required <if condition="$row['type'] eq 5"> checked</if>>
                                        加盟介绍
                                    </label>
                                    <label class="layui-choose" for="type_6">
                                        <input type="radio" id="type_6" name="type" value="6" class="layui-input"required <if condition="$row['type'] eq 6"> checked</if>>
                                        文章
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">文章封面</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <button type="button" class="layui-btn"   id="uploadBtn2"><i class="layui-icon"></i>选择图片</button>
                                </div>
                                <div class="layui-input-inline" id="filename"> </div>
                                <if condition="$row['cover']  neq 0">
                                    <div class="layui-input-block img-show">
                                        <div class="img-show-item" id="Upload_cover_1_pre">
                                            <img src="{$row.covers}">
                                            <i class="layui-icon layui-icon-close close" onclick="delFile('Upload_cover_1', '{$row.cover}');"></i>
                                        </div>
                                    </div>
                                </if>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">文章详情</label>
                            <div class="layui-input-block">
                                <textarea  name="content" id="content" style="width:100%; height:550px; " class="layui-input w300">{$row.content}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-block">
                                <input type="text" name="sort" value="{$row.sort}" placeholder="排序" class="layui-input w300">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" onclick="goback()">返回</button>
                                <button class="layui-btn" onclick="submit()">确认保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/Plugins/frame/layui/layui.js"></script>
<script>
    // 上传文件初始化
    new UploadFile({
        element: '#uploadBtn2',
        // 多文件上传-true 单文件上传-false
        files: false,
        // 展示图片
        showFile: true,
        // input框的name
        fieldName: 'cover'
    });
    // 提交信息
    function submit() {
        // 检查参数
        var data = checkParam();
       if(!data) return false;
       var url='';
        data.id='{$row.id}';
        var id = "{$row['id']}";
        if(id){
            url = '{:U("Article/editArticle")}';
            data.id = id
        }else{
            url = '{:U("Article/addArticle")}';
        }
        doPost(url, data, function(res) {
            showMsg(res.code, res.message, function() {
                goback();
            });
        });
    }
    //编辑器
    $(document).ready(function(){
        KindEditor.ready(function(K){
            window.editor = K.create('#content',{
                cssData: 'body {font-size: 15px; font-color:#000}',
                items:[
                    'source', '|',
                    'undo', 'redo', '|',
                    'indent', 'outdent', '|',
                    'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'clearhtml', '|',
                    'formatblock', 'fontname', 'fontsize', '|',
                    'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough','lineheight', '|',
                    'image', 'multiimage', '|',
                    'link', 'baidumap','fullscreen'
                ],
                afterBlur:function(){this.sync();}
            });
        });
    });


    /*
        描述：上传图片附带删除 再次地方可以加上一个ajax进行提交到后台进行删除
     * */
    function removeImg(r){
        $(r).parent().remove();
    }
    /*
        描述：上传图片附带放大查看处理
     * */
    function lookBigImg(b){
        $(".shadeImg").fadeIn(500);
        $(".showImg").attr("src",$(b).attr("src"))
    }
    /*
        描述：关闭弹出层
     * */
    function closeShade(){
        $(".shade").fadeOut(500);
    }
    /*
        描述：关闭弹出层
     * */
    function closeShadeImg(){
        $(".shadeImg").fadeOut(500);
    }





</script>
</body>
</html>