<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__INDCSS__/public.css"/>
    <link rel="stylesheet" type="text/css" href="__INDCSS__/index.css"/>
    <link rel="stylesheet" type="text/css" href="__INDCSS__/jquery.fullpage.css"/>
    <script type="text/javascript" src="__INDJS__/jquery.js"></script>
    <script type="text/javascript" src="__INDJS__/public.js"></script>
    <script type="text/javascript" src="__INDJS__/jquery.fullpage.extensions.min.js"></script>
    <title>白洗车用户协议</title>
</head>
<body>
<div class="index-head">
    <div class="content ovhid">
        <img src="__IND__/logo.png" class="index-head-img1 fl"/>
        <!--<a href="http://elife.txunda.com/index.php/index/company/" class="fr" style="color: #f0f0f0; margin-top: 40px; margin-right: 30px;">代理商申请入口</a>-->
    </div>
    <div>
        <span>{$info.content}</span>
    </div>
</div>
<div class="footer">
    Copyright &copy; {:date('Y')}-{:date('Y')+1}&nbsp;&nbsp;北京白一诺科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;<a
        href="http://www.miitbeian.gov.cn/" style="color:palevioletred">京ICP备19000455号-1</a>
</div>
<div id="fullpage">
    <div class="section">

    </div>
</div>
</body>
</html>

