<!DOCTYPE html>
<html>
<include file="Public/head"/>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--菜单名称-->
                <div class="layui-card-header">{$title}</div>
                <div class="layui-card-body">
                    <!--顶部按钮-->
                    <div class="mab10">
                        <input type="hidden" id="url" value="{$url}">
                        <a href="{:U('BankType/addBankType')}"
                           class="layui-btn layui-btn-normal layui-btn-radius">添加银行卡</a>
                        <!--搜索框也可以放这里-->
                        <form class="mab10 mal20 dinline" id="myform" action="{:U('BankType/index')}" method="GET">
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" placeholder="请输入银行名称" name="bank_name"
                                       value="{$_REQUEST['bank_name']}">
                            </div>
                            <div class="layui-input-inline layui-form">
                                <select name="status" class="layui-input" style="width: 150px">
                                    <option value="">状态</option>
                                    <option value="1"
                                    <if condition="$_REQUEST['status'] eq 1">selected=true</if>
                                    >禁用</option>
                                    <option value="2"
                                    <if condition="$_REQUEST['status'] eq 2">selected=true</if>
                                    >启用</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="start_time" class="layui-input" id="test1"
                                       value="{$_REQUEST['start_time']}" autocomplete="off" placeholder="开始时间">
                            </div>
                            —
                            <div class="layui-input-inline">
                                <input type="text" name="end_time" class="layui-input" id="test2"
                                       value="{$_REQUEST['end_time']}" autocomplete="off" placeholder="结束时间">
                            </div>
                            <button class="layui-btn" type="submit">搜索</button>
                            <a href="{:U('BankType/index')}" class="layui-btn layui-btn-primary">重置</a>
                        </form>

                        <script>
                            $(function () {
                                $("#button").click(function () {
                                    var newUrl = "{:U('BankType/exportBankType')}";    //设置新提交地址
                                    $("#myform").attr('action', newUrl);    //通过jquery为action属性赋值
                                    $("#myform").submit();    //提交ID为myform的表单
                                })
                            })
                        </script>
                    </div>
                    <!--列表-->
                    <table class="layui-table" lay-even lay-skin="line" lay-size="">
                        <colgroup>
                            <col width="30">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <th>ID</th>
                        <th>银行名称</th>
                        <th>银行图标</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <empty name="list">
                            <tr>
                                <td colspan="12" style="text-align: center;">暂无数据</td>
                            </tr>
                        </empty>
                        <volist name="list" id="item">
                            <tr>
                                <td>{$item.id}</td>
                                <td>{$item.bank_name}</td>
                                <td>
                                    <img src="{$item.bank_pic}">
                                </td>
                                <td>{$item.create_time|date='Y-m-d H:i:s',###}</td>
                                <td>{$item['status'] == 1 ? '启用' : '禁用'}</td>
                                <td>
                                    <button class="layui-btn layui-btn-xs layui-btn-normal"
                                            onclick="jumpUrl('{:U('BankType/editBankType', array('id'=>$item['id'], 'system'=>0))}')">
                                        编辑
                                    </button>
                                    <button class="layui-btn layui-btn-xs layui-btn-warm"
                                            onclick="confirmOneAction('{:U('BankType/lockBankType')}', '{$item['status'] == 1 ? '' : '启用'}','{$item.id}')">
                                        {$item['status'] == 1 ? '禁用' : '启用'}
                                    </button>
                                    <button class="layui-btn layui-btn-xs layui-btn-danger"
                                            onclick="confirmDelAction('{:U('BankType/delete',array('model'=>'BankType'))}', '删除','{$item.id}')">
                                        删除
                                    </button>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <!--分页-->
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 排序方法
    var sort_order = "{$_GET['sort_order']}"
    if (sort_order) {
        var sort_arr = sort_order.split("-");
        $('#' + sort_arr[0] + '-sort').attr('lay-sort', sort_arr[1])
    }
    //排序
    $('.layui-edge').on('click', function () {
        var url = $('#url').val();
        var sort_type = $(this).attr('value');
        var sort_key = $(this).attr('sort');
        // 分为有其他搜索参数类型和无搜索参数类型 拼接URL了地址 这里我以有结束时间为例。
        // 有搜索参数
        if (url.indexOf('&end_time') == -1) {
            if (url.indexOf('/sort_order/') == -1) {
                url = url + '/sort_order/' + sort_type + '-' + sort_key;
            } else {
                url = url.replace('/sort_order/' + sort_order, '/sort_order/' + sort_type + '-' + sort_key);
            }
        } else {
            // 没有搜索参数
            if (url.indexOf('&sort_order=') == -1) {
                url = url + '&sort_order=' + sort_type + '-' + sort_key;
            } else {
                url = url.replace('&sort_order=' + sort_order, '&sort_order=' + sort_type + '-' + sort_key);
            }
        }
        window.location.href = url;
    });
    // 时间选择初始化
    laydate.render({
        elem: '#test1' //指定元素
    });
    // 时间选择初始化
    laydate.render({
        elem: '#test2' //指定元素
    });

    //成功或失败
    $(".change_status").on('click', function () {
        var ids = $(this).data('id');
        var model = 'BankType';
        var status = $(this).data('key');
        $.ajax({
            type: 'POST',
            data: {ids: ids, model: model, status: status},
            url: '{:U("BankType/resumeBankType")}',
            success: function (data) {
                if (data.code == 1) {
                    if (status == 2) {
                        layer.msg('提现成功');
                    }
                    if (status == 3) {
                        layer.msg('拒绝提现');
                    }
                    setTimeout(function () {
                        location.href = '{:U("BankType/index")}';
                    }, '1000');
                } else {
                    layer.msg(data.message);
                    return false;
                }
            }
        });
    })
</script>
</body>
</html>

